    <html>
    <head>
      <link type="text/css" rel="stylesheet" href="js/yui/build/cssfonts/fonts-min.css" /> 
      <script type="text/javascript" src="js/raphael/raphael-min.js" ></script> 
      <script type="text/javascript" src="js/yui/build/yui/yui.js"></script> 
      <script type="text/javascript" src="js/jsphylosvg-min.js"></script> 
      <!-- unitip -->
      <link rel="stylesheet" type="text/css" href="js/unitip/css/unitip.css" > 
      <script type="text/javascript" src="js/unitip/js/unitip.js"></script> 	
      <script type="text/javascript">
      window.onload = function(){
        YUI().use('oop', 'json-stringify', 'io-base', 'event', 'event-delegate', function(Y){
          var uri = "cluster.xml";
          function complete(id, o, args) {
            var data = o.responseXML; // Response data.
            var dataObject = {
                  xml: data,
                  fileSource: true
                };
            phylocanvas = new Smits.PhyloCanvas(
              dataObject,
              'svgCanvas', 
              2000, 2000,
              'circular'
            );
            
            document.getElementById('svgCode').value = phylocanvas.getSvgSource();
            init(); //unitip
          };
          Y.on('io:complete', complete, Y);
          var request = Y.io(uri);
        });
      };
      </script>
    </head>
    <body>
      <div id="svgCanvas"> </div>
      <textarea id="svgCode"></textarea>
    </body>
    </html>
